<ossec_config>
  <client>
    <server>
      <address>{{ wazuh_manager_host }}</address>
      <port>1514</port>
      <protocol>tcp</protocol>
    </server>
    <config-profile>{{ wazuh_agent_group }}</config-profile>
    <notify_time>10</notify_time>
    <time-reconnect>60</time-reconnect>
    <auto_restart>yes</auto_restart>
    <crypto_method>aes</crypto_method>
  </client>

  <logging>
    <log_format>plain</log_format>
  </logging>
</ossec_config>
